@page
@model MB.Presentation.Areas.Administration.Pages.ArticleManagement.ListModel
@{
}

<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article Category List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="/ArticleManagement/Create" asp-area="Administration">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Category</th>
                <th>CreationDate</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.ArticleViewModels)
                {
                    <tr>
                        <td>@article.ArticleId</td>
                        <td>@article.Title</td>
                        <td>
                            @if (article.IsDeleted)
                            {
                                <i class="fa fa-close fa-2x text-danger"></i>
                            }
                            else
                            {
                                <i class="fa fa-check fa-2x text-success"></i>
                            }
                        </td>
                        <td>@article.ArticleCategory</td>
                        <td>@article.CreationDate</td>
                        <td>
                            <a class="btn btn-warning float-left mr-3" asp-page="./Edit" asp-route-id="@article.ArticleId">Edit</a>
                            @if (article.IsDeleted)
                            {
                                <form method="post" asp-page-handler="Activate" class="float-left">
                                    <button class="btn btn-success">Activate</button>
                                    <input type="hidden" name="id" value="@article.ArticleId" />
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Remove" class="float-left">
                                    <button class="btn btn-danger">Remove</button>
                                    <input type="hidden" name="id" value="@article.ArticleId" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>